@{
    ViewBag.Title = "About";
}

<main>
    <div class="container text-center mt-5">
        <h1 class="mb-4">About Us</h1>
        <div class="d-flex justify-content-center">
            <div class="values-container">
                <h3 class="mb-4">Our Values</h3>
                <p class="m-0">✔ <strong>Loving Care</strong></p>
                <p>We treat every pet like family, providing warmth and affection.</p>
                <p class="m-0">✔ <strong>Safe & Comfortable Stays</strong> </p>
                <p>Clean, cozy spaces designed for your pet's relaxation.</p>
                <p class="m-0">✔ <strong>Experienced Staff</strong></p>
                <p> Passionate professionals ensuring top-notch care and attention.</p>
                <p class="m-0">✔ <strong>Play & Socialization:</strong></p>
                <p>Fun activities and interactions to keep pets happy and engaged.</p>
                <p class="m-0">✔ <strong>24/7 Attention</strong> </p>
                <p>Around-the-clock supervision for peace of mind.</p>
            </div>
        </div>
</main>

