
@{
    ViewBag.Title = "BookingSuccess";
}

<h2>Booking Successful!</h2>

<div>
    <h3>@Html.ActionLink("Return", "Index", "MyAccount", new { area = "" }, new { @class = "btn btn-success" })</h3>
</div>

