
@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Pawliday Inn Hours</h2>
    <div>
        <ul style="list-style: none;">
            <li><strong>Monday - Friday:</strong> 9:00 AM - 6:00 PM</li>
            <li><strong>Saturday:</strong> 10:00 AM - 4:00 PM</li>
            <li><strong>Sunday:</strong> Closed</li>
        </ul>
    </div>
</div>

