
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>My Account Dashboard</h2>

<div class="d-flex">
    <div class="petContainer">
        <h4>My Pets</h4>
        <div class="list-group">
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">List group item heading</h5>
                    <small>3 days ago</small>
                </div>
                <p class="mb-1">Some placeholder content in a paragraph.</p>
                <small>And some small print.</small>
            </div>
        </div>
    </div>
    <div class="dashContainer ms-3">
        <h4 class="ms-2">My Stay</h4>
        <div class="pet-card">
            <h4>Current Reservations</h4>
        </div>
        <div class="pet-card">
            <h4>Questions</h4>
        </div>
    </div>
</div>

